* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    background-color: teal;
    /*
    background color changes everytime the page is refresh.
    This is to be added.
    */
}

body, .words-input{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Short Stack', cursive;
}

.container{
    background-color: orange;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    font-size: 3rem;
    color: orange;
    font-weight: bold;
}

.words-display{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    font-size: 1rem;
}

.words-input{
    background-color: transparent;
    border: 2px solid rgba(211, 141, 12, 0.864);
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.words-input:focus{
    border-color: black;
}